/* CARTPAGE */
.cart-page {
    /* DEBUG */
    margin-top: 200px;
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}

.set-cart {
    display: flex;
    justify-content: space-between;
    width: 90%;
    flex-wrap: wrap;
}

.cart-items {
    /* height: 500px; */
    /* background-color: red; */
    width: 70%;

}

.cart-item {
    margin-top: 20px;
    /* border: 2px solid black; */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 8px;
}

.cart {
    display: flex;
}

.image-card-cart {
    /* display: flex; */
    width: 180px;
}

.image-card-cart img {
    width: 100%;
}

.price-details {
    margin-left: 20px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.price-details h3 {
    margin-bottom: 20px;
}

.div-discount {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-discount p s {
    font-size: 13px;
    margin-right: 10px;
    color: gray;
}

.div-discount p {
    font-size: 18px;
}

.set-shop-icon {
    display: flex;
    align-items: center;
}

.set-shop-icon img {
    margin-right: 10px;

}

/* delete */
.button-delete {
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
    border: none;
    background-color: whitesmoke;
    cursor: pointer;
    font-size: 20px;
    margin: 0 20px;
}

.quantity-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quantity-control section {
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
}

.product-total{
    margin-right: 25px;
}


/* CHECKOUT CARD */
.cart-summary {
    /* background-color: #0C68F4; */
    height: 300px;
    width: 25%;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.cart-actions {
    /* height: 200px; */
    /* background-color: red; */
    padding: 10px;
    margin-top: 10px;
}

.cart-actions p {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: gray;
}

.cart-actions section {
    border-top: 1px solid gray;
    margin-bottom: 20px;
}

.cart-actions section h4 {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

/* button checkout */
.checkout-btn {
    padding: 10px 20px;
    background-color: #0C68F4;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    transition: 0.3s;
    width: 100%;

}

.checkout-btn:hover {
    background-color: white;
    color: #0C68F4;
    border: #0C68F4 1px solid;
}




/* MEDIA QUERY */
@media screen and (max-width:1000px) and (min-width:640px){
    .cart-items{
        width: 100%;
        /* margin-right: 60px; */
    }

    .set-cart{
        justify-content: center;
    }

    .cart-summary{
        width: 100%
    }
}

@media screen and (max-width:639px) and (min-width:200px){
    .cart-items{
        width: 100%;
        /* margin-right: 60px; */
    }
    .cart{
        flex-wrap: wrap;
        justify-content: center;
    }

    .set-cart{
        justify-content: center;
    }

    .cart-summary{
        width: 100%
    }

    .quantity-control{
        display: unset;
        margin-top: 25px;
    }

    .price-details{
        width: unset;
    }
    .quantity-control section{
        padding-top: 10px;
    }
}


